export STAGING_TWITTER_CONSUMER_KEY=
export STAGING_TWITTER_CONSUMER_SECRET=
export STAGING_TWITTER_ACCESS_TOKEN_KEY=
export STAGING_TWITTER_ACCESS_TOKEN_SECRET=

export PRODUCTION_TWITTER_CONSUMER_KEY=
export PRODUCTION_TWITTER_CONSUMER_SECRET=
export PRODUCTION_TWITTER_ACCESS_TOKEN_KEY=
export PRODUCTION_TWITTER_ACCESS_TOKEN_SECRET=
